name: CI/CD - Firmeza App

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Docker Compose
        run: sudo apt-get install docker-compose -y

      - name: Run tests using Docker Compose
        run: |
          docker compose build tests
          docker compose run --rm tests

  deploy:
    name: Deploy Application
    runs-on: ubuntu-latest
    needs: test  

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Docker Compose
        run: sudo apt-get install docker-compose -y

      - name: Deploy full stack
        run: |
          docker compose up -d --build postgres api admin front-end
